# ALL REPOSITORIES
# ----------------
# General
.DS_Store
Thumbs.db
*.swp
*.log
*.tmp
*.bak
*~

# Windows
desktop.ini
$RECYCLE.BIN/

# VS Code
.vscode/
*.code-workspace

# JetBrains
.idea/
*.iml

# Media Production Artifacts (General)
# Adobe peaks / caches
*.pkf
*.sfk
*.reapeaks
*.cfa
*.pek

# Archives
*.zip
*.tar.gz
*.rar
*.7z

# Git
*.orig
